<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MTMNZNR8');</script>
<!-- End Google Tag Manager -->
{% include_cached head/meta-static.html %}
{% include        head/meta.html %}
{% include        head/links.html lang=page.lang %}
{% include_cached head/links-static.html %}
{% include_cached head/scripts.html %}
{% include_cached head/styles.html layout=page.layout color=color theme_color=theme_color %}
{% include my-head.html %}
{% assign google_fonts = site.google_fonts %}
{% assign font_heading = site.font_heading %}
{% assign font         = site.font         %}